.diagram-container {
    width: 100%;
    height: 100%;
    display: flex;

    #js-canvas {
        width: 75%;
    }

    #js-property-panel-container {
        display: flex;
        flex-direction: column;
        width: 25%;
        height: 100%;
        overflow-y: auto;

        #js-properties-panel {
            flex: 1;
        }
    }
}